<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/style.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Range Table</title>
</head>
<body>
<div th:each="table : ${tables}">
    <div class="tableHead">
        <label th:text="'NAME: ' + ${table.name}"></label>
        <label th:text="'Id: ' + ${table.id}"></label>
        <label th:text="'Create Date: ' + ${table.createDate}"></label>
        <label th:text="'Expression: ' + ${table.expression}"></label>
    </div>
    <div class="rangeList">
        <div class="rangeView" th:each="range : ${table.ranges}">
            <label th:text="'RANGE NAME: ' + ${range.name}"></label>
            <label th:text="'From : ' + ${range.start}"></label>
            <label th:text="'To : ' + ${range.end}"></label>
            <label th:text="'Step : ' + ${range.step}"></label>
        </div>
    </div>
    <div class="results" th:each="res : ${table.results}">
        <div class="cellView">
            <div th:each="par : ${res.params}">
                <div class="resultHead">
                    <label th:text="${par.name} + '=' + ${par.value}"></label>
                </div>
            </div>
            <div class="resultValue">
                <label th:text="'result: ' + ${res.resultString}"></label>
            </div>
        </div>
    </div>
    <div class="redactTablePanel">
        <a th:href="@{update-table(idTable=${table.id})}">Update</a>
        <a th:href="@{delete-table(idTable=${table.id})}">Delete</a>
    </div>
</div>
<div class="separator"></div>
<div class="redactTable">
    <div class="redactView">
        <form th:action="@{calculate-table}" method="get">
            <label>Calculate Table</label>
            <div class="edit">
                <label>Table Name: </label>
                <input type="text" name="name"/>
            </div>
            <div class="edit">
                <label>Expression: </label>
                <input type="text" name="expression"/>
            </div>
            <div class="edit">
                <label>Ranges: </label>
                <input type="text" name="ranges"/>
            </div>
            <button class="button" type="submit">Calculate</button>
        </form>
    </div>
    <div class="redactView">
        <form th:action="@{clear}" method="get">
            <button class="button" type="submit">Clear All</button>
        </form>
    </div>
</div>
<div class="redactTable">
    <div class="redactView">
        <form th:action="@{download}" method="get">
            <label>Download Table: </label>
            <div class="edit">
                <label>File Name: </label>
                <input type="text" name="fileName"/>
            </div>
            <button class="button" type="submit">Download</button>
        </form>
    </div>
    <div class="redactView">
        <form method="post" th:action="@{upload}" enctype="multipart/form-data">
            <label th:text="'Upload Table: ' + ${message}" th:if="${message ne null}"></label>
            <div class="edit">
                <input type="file" name="file" class="button">
            </div>
            <button type="submit" class="button">Upload</button>
        </form>
    </div>
</div>
</body>
</html>